################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Net3D/Net3D/App_Data/AdditionalHeightsData
