.drpbutton {
    background-color: #4CAF50;
    color: #FFFFFF;
    text-align: center;
    z-index: 2;
    border: none;
    padding: 7px 8px;
    cursor: pointer;
    min-width: 84px;
}

.drpdown {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.hudbutton {
    display: inline-block;
    min-width: 70px;
    background-color: #4CAF50;
    color: #FFFFFF;
    text-align: center;
    border: none;
    z-index: 2;
    padding: 7px 8px;
    margin: 5px;
    cursor: pointer;
}

.hudbutton:hover, .drpdown:hover .drpbutton{
    background-color: #FFFFFF;
    color: #4CAF50;
}

.drp-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
    min-width: 70px;
}
.drp-content a:hover {
    background-color: #E1E1E1;
}

.drp-content a {
    color: black;
    padding: 7px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.drpdown:hover .drp-content {
    display: block;
}

.data-area {
    position: fixed;
    z-index: 2;
    padding: 5px;
    cursor: pointer;
}

.data-area p {
    margin: 5px;
}

label, input {
         display:block;
}

input.text { 
    margin-bottom:12px;
    width:95%;
    padding: .4em; 
}

input.radio {
    margin-bottom:12px;
}

input.file {
    width: 95%;
    margin-bottom:12px;
}

fieldset { 
    padding:0;
    border:0;
    margin-top:25px;
    margin-bottom: 14px;
}
h1 { 
    font-size: 1.2em;
     margin: .6em 0;
}